<form class="login-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h1 class="h1 mb60">Вход</h1>

    <label for="" class="tt-control-label mb16">
        Telegram username
        <input class="tt-input" type="text" name="" id="" placeholder="Введите логин" formControlName="username">
    </label>
    <label for="" class="tt-control-label mb32">
        Пароль
        <input class="tt-input" type="text" name="" id="" placeholder="Введите пароль" formControlName="password">
    </label>

    <button class="btn btn-shadow" type="submit">Войти</button>
</form>
<img src="/assets/svg/logo-svg.svg" alt="logo">